

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 60%;
    
    margin: 50px auto 50px auto;
}

.row {
    margin-bottom: 50px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.contenitore-prodotto {
    width: 150px;
    
    float: left;
    margin-right: 10px;
    width: calc(100% / 3 - 10px);
}

.prodotto {
    position: relative; 
}

img {
    width: 100%;
    object-fit: cover
}

/* .over {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.cuore {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: white;
    padding: 3px 6px;
}

.sconto {
    padding: 5px;
    font-size: 12px;
    background-color: red;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 0px;
}

.etichetta {
    padding: 5px;
    font-size: 12px;
    background-color:rgb(18, 179, 58);
    color: white;
    position: absolute;
    bottom: 20px;
    left: 35px;
}



