

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 500px ;
    margin: auto;
    background-color: aqua;
}

.row {
    
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.contenitore-prodotto {
    width: 250px;
    background-color: brown;
    float: left;
    border: brown 2px solid;
}

.prodotto {
    position: relative;
}

img {
    width: 100%;
    object-fit: cover
}

.over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.5);
    z-index: 50;
}

.cuore {
    position: absolute;
    right: 0;
    top: 20px;
}



